@{
    ViewData["Title"] = "Our Resources";
}
@section Header{
    <div class="hero-banner hero-other">
        <div class="hero-image"></div>

        <div class="container overlay">
            <div class="overlay-content">

                <h1>Resources</h1>
             

            </div>
        </div>
    </div>
}


    <section id="resources">

        <div class="wrap">
            <div class="about-content">
                <h2>Resources for Plant Care</h2>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est fugiat
                    expedita ex recusandae fuga! Blanditiis maiores culpa voluptatum dignissimos
                    eveniet iure officia, deserunt accusamus maxime minus impedit illo quo!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est fugiat
                    expedita ex recusandae fuga! Blanditiis maiores culpa voluptatum dignissimos
                    eveniet iure officia, deserunt accusamus maxime minus impedit illo quo!
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est fugiat
                    expedita ex recusandae fuga! Blanditiis maiores culpa voluptatum dignissimos
                    eveniet iure officia, deserunt accusamus maxime minus impedit illo quo!
                </p>
            </div>
        </div>


        <div class="wrap wrap-color">
            <div class="about-content-color">
                <img src="https://img.freepik.com/premium-photo/flowerbed-with-yellow-red-flowers-landscape-design-colorful-flowers_116317-6183.jpg?w=2000" alt="Landscape Photo" class="img-fluid ">
                <h2>Tips</h2>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est fugiat
                    expedita ex recusandae fuga! Blanditiis maiores culpa voluptatum dignissimos
                    eveniet iure officia, deserunt accusamus maxime minus impedit illo quo!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est fugiat
                    expedita ex recusandae fuga! Blanditiis maiores culpa voluptatum dignissimos
                    eveniet iure officia, deserunt accusamus maxime minus impedit illo quo!
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est fugiat
                    expedita ex recusandae fuga! Blanditiis maiores culpa voluptatum dignissimos
                    eveniet iure officia, deserunt accusamus maxime minus impedit illo quo!
                </p>
            </div>
        </div>




        <div class="wrap">
            <div class="about-content quote">
                <h3>Don't Hesitate</h3>
                <button class="btn" type="button">Get A Quote</button>
            </div>
        </div>
    </section>
