@{
    ViewData["Title"] = "Our Resources";
}
@section Header{
    <div class="hero-banner">
        <div class="hero-image"></div>

        <div class="container overlay">
            <div class="overlay-content">

                <h1>Tips & Resources</h1>
                <p>Lorem ipsum rit gunvi gont.</p>

            </div>
        </div>
    </div>
}


    <section id="about-us">

        <div class="wrap">
            <div class="about-content">
                <h2>Resources for Plant Care</h2>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est fugiat
                    expedita ex recusandae fuga! Blanditiis maiores culpa voluptatum dignissimos
                    eveniet iure officia, deserunt accusamus maxime minus impedit illo quo!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est fugiat
                    expedita ex recusandae fuga! Blanditiis maiores culpa voluptatum dignissimos
                    eveniet iure officia, deserunt accusamus maxime minus impedit illo quo!
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est fugiat
                    expedita ex recusandae fuga! Blanditiis maiores culpa voluptatum dignissimos
                    eveniet iure officia, deserunt accusamus maxime minus impedit illo quo!
                </p>
            </div>
        </div>


        <div class="wrap">
            <div class="about-content-color">
                <img src="https://img.freepik.com/premium-photo/flowerbed-with-yellow-red-flowers-landscape-design-colorful-flowers_116317-6183.jpg?w=2000" alt="Landscape Photo" class="img-fluid">
                <h2>Tips</h2>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est fugiat
                    expedita ex recusandae fuga! Blanditiis maiores culpa voluptatum dignissimos
                    eveniet iure officia, deserunt accusamus maxime minus impedit illo quo!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est fugiat
                    expedita ex recusandae fuga! Blanditiis maiores culpa voluptatum dignissimos
                    eveniet iure officia, deserunt accusamus maxime minus impedit illo quo!
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est fugiat
                    expedita ex recusandae fuga! Blanditiis maiores culpa voluptatum dignissimos
                    eveniet iure officia, deserunt accusamus maxime minus impedit illo quo!
                </p>
            </div>
        </div>





        <div class="wrap">
            <div class="about-content quote">
                <h2>Get a Quote</h2>
                <button class="btn" type="button">Get Quote</button>
            </div>
        </div>
    </section>
