@{
    ViewData["Title"] = "Home Page";
}
@section Header{
    <div class="hero-banner">
        <div class="hero-image"></div>
        <div id="hero-div" class="container overlay">
            <div class="overlay-content">
                <h1 id="hero-h1" class="fade-in">Pacific Sunscapes</h1>
                <p id="hero-p" class="fade-in">San Diego's #1 Landscape and Design Team</p>
                <a id="hero-a" class="btn" asp-area="" asp-controller="About" asp-action="Index">About Us</a>
            </div>
            <div id="hero-input-div">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm"></label>
                <div class="col-sm-10">
                    <input id="hero-input-1" type="text" class="form-control form-control-lg" id="colFormLabelLg" placeholder="Your Name">
                    <input id="hero-input-2" type="number" class="form-control form-control-lg" id="colFormLabelLg" placeholder="You Phone Number">
                    <input id="hero-input-3" type="email" class="form-control form-control-lg" id="colFormLabelLg" placeholder="Your Email Address">
                    <input id="hero-input-4" type="text" class="form-control form-control-lg" id="colFormLabelLg" placeholder="How Can We Help?">
                    <input class="btn mt-2" type="submit" value="submit" />
                </div>
            </div>
        </div>
    </div>
}

<section class="home-page">

    <div class="wrap ">
        <h2>Why choose Pacfic?</h2>
        <div class="row row-wrap">
            <div class="col-12 col-md-8">
                <p>At GreenScapes Landscaping, we specialize in creating breathtaking outdoor environments that enhance the beauty and functionality of your property. With our expert team of landscape architects and skilled craftsmen, we bring your vision to life, turning ordinary spaces into extraordinary landscapes.</p>
                <a class="btn" asp-area="" asp-controller="About" asp-action="Index">About Us</a>
            </div>
            <div class="col-12 col-md-4 order-last">
                <img src="https://img.freepik.com/premium-photo/flowerbed-with-yellow-red-flowers-landscape-design-colorful-flowers_116317-6183.jpg?w=2000" alt="Landscape Photo" class="img-fluid col-photo" />
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 mb-3 mb-sm-0">
            <div class="card h-100">
                <div class="card-body">
                    <img src="https://img.freepik.com/premium-photo/flowerbed-with-yellow-red-flowers-landscape-design-colorful-flowers_116317-6183.jpg?w=2000" alt="Landscape Photo" class="img-fluid col-photo" />
                    <h5 class="card-title">Lawn Care</h5>
                    <p class="card-p"><strong>Landscape Design:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="card-p"><strong>Installation and Construction:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a class="btn" asp-area="" asp-controller="Services" asp-action="Index">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card h-100">
                <div class="card-body">
                    <img src="https://img.freepik.com/premium-photo/flowerbed-with-yellow-red-flowers-landscape-design-colorful-flowers_116317-6183.jpg?w=2000" alt="Landscape Photo" class="img-fluid col-photo" />
                    <h5 class="card-title">Landscape Maintenence</h5>
                    <p class="card-p">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="card-p">Lorem ipsum dolor sit amet consectetur adipisicing elit..</p>
                    <a class="btn" asp-area="" asp-controller="Portfolio" asp-action="Index">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card h-100">
                <div class="card-body">
                    <img src="https://img.freepik.com/premium-photo/flowerbed-with-yellow-red-flowers-landscape-design-colorful-flowers_116317-6183.jpg?w=2000" alt="Landscape Photo" class="img-fluid col-photo" />
                    <h5 class="card-title">Design and Installation</h5>
                    <p class="card-p"><strong>Landscape Design:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="card-p"><strong>Installation and Construction:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a class="btn" asp-area="" asp-controller="Resources" asp-action="Index">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card h-100">
                <div class="card-body">
                    <img src="https://img.freepik.com/premium-photo/flowerbed-with-yellow-red-flowers-landscape-design-colorful-flowers_116317-6183.jpg?w=2000" alt="Landscape Photo" class="img-fluid col-photo" />
                    <h5 class="card-title">Random Service</h5>
                    <p class="card-p"><strong>Landscape Design:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="card-p"><strong>Installation and Construction:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a class="btn" asp-area="" asp-controller="Resources" asp-action="Index">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card h-100">
                <div class="card-body">
                    <img src="https://img.freepik.com/premium-photo/flowerbed-with-yellow-red-flowers-landscape-design-colorful-flowers_116317-6183.jpg?w=2000" alt="Landscape Photo" class="img-fluid col-photo" />
                    <h5 class="card-title">Random Service</h5>
                    <p class="card-p"><strong>Landscape Design:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="card-p"><strong>Installation and Construction:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a class="btn" asp-area="" asp-controller="Resources" asp-action="Index">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card h-100">
                <div class="card-body">
                    <img src="https://img.freepik.com/premium-photo/flowerbed-with-yellow-red-flowers-landscape-design-colorful-flowers_116317-6183.jpg?w=2000" alt="Landscape Photo" class="img-fluid col-photo" />
                    <h5 class="card-title">Random Service</h5>
                    <p class="card-p"><strong>Landscape Design:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="card-p"><strong>Installation and Construction:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a class="btn" asp-area="" asp-controller="Resources" asp-action="Index">Learn More</a>
                </div>
            </div>
        </div>
    </div>


    <div class="wrap">
        <h2>What Our Clients Say</h2>
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <p>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vel ab omnis blanditiis optio, neque facilis cupiditate incidunt quas voluptatum totam vero itaque, laboriosam nostrum reiciendis aperiam cumque a quidem delectus accusamus, suscipit amet eligendi inventore? Repellendus tempora modi quas.</span>
                    </p>
                    <p></p>
                    <p>
                        <span>Jane D.</span>
                    </p>
                </div>
                <div class="carousel-item">
                    <p>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vel ab omnis blanditiis optio, neque facilis cupiditate incidunt quas voluptatum totam vero itaque, laboriosam nostrum reiciendis aperiam cumque a quidem delectus accusamus, suscipit amet eligendi inventore? Repellendus tempora modi quas.</span>
                    </p>
                    <p></p>
                    <p>
                        <span>John D.</span>
                    </p>
                </div>
                <div class="carousel-item">
                    <p>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vel ab omnis blanditiis optio, neque facilis cupiditate incidunt quas voluptatum totam vero itaque, laboriosam nostrum reiciendis aperiam cumque a quidem delectus accusamus, suscipit amet eligendi inventore? Repellendus tempora modi quas.</span>
                    </p>
                    <p></p>
                    <p>
                        <span>John S.</span>
                    </p>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>

    <h3 id="getintouch" class="mt-3 mb-3 text-center">Get In Touch</h3>
    <div class="contact-form">
        <form id="contactForm" action="" method="POST">
            <div class="row">
                <div class="col-12 col-md-6">

                    <div>
                        <label for="firstName" class="form-label">First Name:</label>
                        <input id="firstName" type="text" name="firstName" class="form-control" required />
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div>
                        <label for="lastName" class="form-label">Last Name:</label>
                        <input class="form-control" id="lastName" type="text" name="lasttName" required />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">

                    <div>
                        <label for="firstName" class="form-label">Email:</label>
                        <input class="form-control" id="email" type="email" name="email" required />
                    </div>
                </div>
                <div class="col-12 col-md-6">

                    <div>
                        <label for="phoneNumber" class="form-label">Phone Number:</label>
                        <input class="form-control" id="phoneNumber" type="tel" name="phoneNumber" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">

                    <div>
                        <label for="address" class="form-label">Address:</label>
                        <input class="form-control" id="address" type="text" name="address" />
                    </div>
                </div>
                <div class="col-12 col-md-3">

                    <div>
                        <label for="city" class="form-label">City:</label>
                        <input class="form-control" id="city" type="text" name="city" />
                    </div>
                </div>
                <div class="col-12 col-md-3">

                    <div>
                        <label for="zipcode" class="form-label">Zipcode:</label>
                        <input class="form-control" id="zipcode" type="text" name="zipcode" />
                    </div>
                </div>
            </div>
            <div>
                <label class="form-label" for="formDropdown">How did you hear about us?</label>
                <select class="form-select" id="formDropdown" name="formDropdown" required>
                    <option value="blank"></option>
                    <option value="google">Google</option>
                    <option value="bing">Bing</option>
                    <option value="billboard">Billboard</option>
                    <option value="sign">Lawn sign</option>
                    <option value="friend">A friend</option>
                    <option value="newspaper">Newspaper</option>



                </select>
            </div>
            <div>
                <label for="formMessage" class="form-label">How can we help?</label>
                <textarea id="formMessage" class="form-control" rows="4" cols="30" name="formMessage" required></textarea>
            </div>

            <input class="btn mt-2" type="submit" value="submit" />
        </form>
    </div>
    <div class="row">

        <div class="col-12 col-md-6">

            <div class="wrap">
                <div class="contact-content">
                    <h3>Hours of Operation</h3>
                    <i class="bi bi-clock-fill"></i>
                    <p class="text-center">
                        Monday-Friday: 8:30am-4:00pm
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">

            <div class="wrap">
                <div class="contact-content">
                    <h3>Email Us</h3>
                    <i class="bi bi-envelope-fill"></i>
                    <p class="text-center">
                        sunscapes@email.com
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-12 col-md-6">

            <div class="wrap">
                <div class="contact-content">
                    <h3>Give us a call</h3>
                    <i class="bi bi-telephone-fill"></i>
                    <p class="text-center">
                        (000) 000-0000
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="wrap">
                <div class="contact-content">
                    <h3 class="pb-5">Get a Quote</h3>
                    <a class="btn">Today</a>
                </div>
            </div>
        </div>
    </div>
</section>