@{
    ViewData["Title"] = "Home Page";
}
@section Header{
    <div class="hero-banner">
        <div class="hero-image"></div>

        <div class="container overlay">
            <div class="overlay-content">

                <h1>Pacific Sunscapes</h1>
                <p>San Diego's #1 Landscape and Design Team</p>

            </div>
        </div>
    </div>
}

<section class="home-page">



<div class="wrap ">
    <h2>Transforming Outdoor Spaces into Stunning Landscapes</h2>
    <p>At GreenScapes Landscaping, we specialize in creating breathtaking outdoor environments that enhance the beauty and functionality of your property. With our expert team of landscape architects and skilled craftsmen, we bring your vision to life, turning ordinary spaces into extraordinary landscapes.</p>
</div>

<div class="wrap">
    <h2>Why Pacific?</h2>
    <p><strong>Landscape Design:</strong> Our experienced designers work closely with you to understand your preferences and create a custom landscape design that reflects your style and enhances your property's features. We integrate elements such as plants, hardscapes, water features, and lighting to achieve a harmonious and inviting outdoor space.</p>
    <p><strong>Installation and Construction:</strong> Our skilled team handles the installation and construction process, bringing the design to reality. From planting trees and shrubs to building patios and retaining walls, we ensure every detail is executed with precision and quality.</p>
</div>

<div class="wrap">
    <h2>Gallery</h2>
    <div class="photo-gallery">
        <img src="/img/Landscape-Design-Techniques.jpg" alt="Landscape Photo" class="img-fluid mb-1">
            <img src="https://img.freepik.com/premium-photo/flowerbed-with-yellow-red-flowers-landscape-design-colorful-flowers_116317-6183.jpg?w=2000" alt="Landscape Photo" class="img-fluid mb-1">
            <img src="/img/Landscape-Design-Techniques.jpg" alt="Landscape Photo" class="img-fluid mb-1">
    </div>
    </div>
</section>
