@{
    ViewData["Title"] = "About Us";
}

@section Header{
    <div>
        <div></div>
        <div>
            <div>
                <h1></h1>
            </div>
        </div>
    </div>
}

<section>
    <div>
        <h2></h2>
        <div>
            <div>
                <p></p>
                <a></a>
            </div>
            <div>
                <img />
            </div>
        </div>
    </div>

    <div>
        <h2></h2>
        <div>
            <div>
                <img />
            </div>
            <div>
                <p></p>
                <p></p>
                <a></a>
            </div>
        </div>
    </div>

    <div>
        <h2></h2>
        <div>
            <div>
                <p></p>
                <a></a>
            </div>
            <div>
                <img />
            </div>
        </div>
    </div>

    <div>
        <h2></h2>
        <div>
            <div>
                <img />
            </div>
            <div>
                <p></p>
                <p></p>
                <a></a>
            </div>
        </div>
    </div>

    <div>
        <div>
            <h3></h3>
            <button></button>
        </div>
    </div>
</section>
