@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;700&family=DM+Serif+Display&family=Varela+Round&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ps-primary-color: #EC6630;
    --ps-primary-shadow-color: #F18432;
    --ps-secondary-shadow-color: #215725;
    --ps-secondary-color: #9DC694;
    --ps-highlight-color: #F6A233;
    --ps-dark-color: #070B04;
    --ps-light-brown: #805B38;
    --ps-text-color-light: #ffffff;
    --ps-text-color-dark: #79371A;
    --ps-font-family-main: 'Varela Round', sans-serif;
    --ps-font-family-hero: 'DM Serif Display', serif;
    --ps-font-family-heading: 'Caveat', serif;
    --ps-green: #71B16F;
}

html {
  font-size: 14px;
  overflow-x: hidden;
/*  overflow-y: auto;*/
  width: 100%;

}


body {
    height: 100%;
    font-family: var(--ps-font-family-main);
    color: var(--ps-dark-color);
    width: 100%;
    overflow-x: hidden;
    display: block;
  
}
main{
    flex: 1 0 auto;  
    display: flex;
    flex-direction: column;
}


footer{
    display: flex;
    position: absolute;
   
}

p{
    margin-top: 1rem;
}
.contact-content{
 
    color: var(--ps-text-color-dark);
}
form input {
    border: 1px solid #c4c4c4;
    box-shadow: none;
    background: white;
    transition: all .5s;
    color: #787878;

}

.contact-form {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.form-label{
    margin-top: .5rem;
    
}
.content{
    background-color: var(--ps-text-color-light);
    font-size: 1rem;
    color: var(--ps-text-color-dark);
    width: 100%;


  align-items: center;
  flex-shrink: 0;



  
 
}
/*
.content {
    font-size: 1rem;
 
    padding-bottom: 3rem;
    position: relative;
    display: inline-flex;
  align-content: space-around;
  
}*/

h1{
    font-family: var(--ps-font-family-hero);
    font-weight: 500;
    font-size: 4rem;
}

h2, h3, h4, h5, h6 {
    font-weight: 500;
    font-family: var(--ps-font-family-hero);
    color: var(--ps-text-color-dark);
    font-size: 2rem;
}

h2{
   
    color: var(--ps-text-color-dark);
    font-size: 4rem;
    padding-top: 1rem;
  font-weight: 700;
   letter-spacing: .1rem;
    text-align: left;
    padding-left: 1rem;
}

main p{
    padding:1rem;
    text-align: justify;
}

.wrap{
    margin: auto;
    text-align: center;
 
}

.wrap-color, .wrap-color h2 {
    background-color: var(--ps-green);
    color: var(--ps-text-color-light) !important;
}

.btn{
    background-color: var(--ps-primary-color);
    font-family: var(--ps-font-family-main);
    color: var(--ps-text-color-light);
    border-radius: 10px;
    padding-left:1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
  margin-bottom: 2rem;
    font-size: 1.2rem;
    letter-spacing: 0;
}

.btn:hover{
    background-color: var(--ps-primary-shadow-color);
}

a {
    color: var(--ps-text-color-light);
    text-decoration: none;
}

a:hover {
    color: var(--ps-highlight-color);
}

strong{
    letter-spacing: .1rem;
}

nav{
    font-size: 1.1rem;
  background-color: var(--ps-text-color-light);
    align-items: flex-end;
    display: flex;
    width: 100%;
    font-weight: 700;
    justify-items: center;    
    justify-content: space-around !important;
}

.navbar>.container-fluid {
    flex-wrap: nowrap;
}



.contact-header{
  
   position: relative;
  background-color: transparent;

   top: 0;
  height: 120px;
   z-index: 2000;
}
.header-col-1{
    background-color: var(--ps-primary-color);  
    border-right: 2px solid var(--ps-highlight-color);
}
.header-col-2{
    background-color: var(--ps-primary-shadow-color);
  
  
}

.contact-header > .row{
    height: 120px;
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before{
    display: flex;
    justify-content: center;
}

.header-icon {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    padding: 3rem;
}

.header-icon .bi-envelope-fill {
    width: 100%;
   color: #fff;
   font-size: 4rem;
}

    .header-icon .bi-telephone-fill {
        width: 100%;
        color: #fff;
        font-size:4rem;
       
    }

.fade-in {
    opacity: 0;
    transition: opacity 1.5s ease-in;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.hero-banner {
    position: relative;
    width: 100%;

    overflow: hidden;
}

.hero-other {
    height: 25vh;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/Landscape-Design-Techniques.jpg');
    background-size: cover;
    background-position: center;

    animation: changeHeroImage 10s infinite;
}
    .hero-image::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }

@keyframes changeHeroImage {
    0% {
        background-image: url('https://img.freepik.com/premium-photo/flowerbed-with-yellow-red-flowers-landscape-design-colorful-flowers_116317-6183.jpg?w=2000');
    }

    33.33% {
        background-image: url('/img/Landscape-Design-Techniques.jpg');
    }

    66.67% {
        background-image: url('https://img.freepik.com/premium-photo/flowerbed-with-yellow-red-flowers-landscape-design-colorful-flowers_116317-6183.jpg?w=2000');
    }

    100% {
        background-image: url('/img/Landscape-Design-Techniques.jpg');
    }
}



.overlay {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 5%;
    justify-content: center;
}
.overlay-content{
    display: flex;
    font-family: var(--ps-font-family-hero);
    flex: 1 1 auto;
    color: white;
    z-index: 200;
    font-size: 3rem;
    letter-spacing: .2rem;
    flex-wrap: wrap;
    font-weight: 700;
    text-transform: uppercase;

    text-align: center;
    justify-content: center;
   
}

.overlay-content>h1, .overlay-content>p{
   padding: 2rem;
   text-align: center; 
  
}




.quote {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.contact-content {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
 
}

.contact-content h2{
    background-color: var(--ps-text-color-light);
    color: var(--ps-primary-color);
    padding-left: 2rem;
}

i{
    color: var(--ps-primary-color);
    font-size: 3rem;
    text-align: center;
}


.copyright{
    font-size: .67rem;
    padding-bottom: 1rem;
    color: var(--ps-text-color-dark);
}

.offcanvas {
 
    top:20% !important;
    right: 20% !important;
    width: 200px !important;
    height: 300px !important;
    border-radius: 10px;
}

.offcanvas-backdrop.show{
    opacity: 30%;
}

.offcanvas.offcanvas-end {
 
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
  
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    width: 200px;
 
}

.navbar-brand img{
    width: 50%;
    height: 50%;
}

ul{
    list-style: none;
}


footer .row{
    margin: 0;
}

.footer-contact{
    background-color: var(--ps-primary-color);
    color: var(--ps-text-color-light);
    width: 100%;
    font-size: 1.2rem;
    padding: 1rem;
}
.footer-contact i{
    color: var(--ps-text-color-light);
    font-size: 1.2rem;
}
.socials i{
    font-size: 2.5rem;
    justify-content: center;
}
/* Media Queries*/

@media (min-width: 270px){
    html{
        width: 100%;
    }
    h1{
        font-size: 3.2rem;
        padding: 1rem;
        margin-top: .5rem;
    }
    h2{
        font-size: 3rem;
        padding-bottom: 0;
    }
    h3{
        font-size: 1.5rem;
    }

    .btn{
        font-size: 1rem;
    }
    footer{
        overflow-x: hidden;
        width: 100%;
        font-size: 1rem;
    }
    .overlay{
        top: 0;
    }
    .hero-other{
        height: 20vh;
    }
    .contact-form{
        margin-bottom: 2rem;
    }
    .footer-contact{
        font-size: 1rem;
    }
    .quote{
        padding-left: .5rem;
        padding-right: .5rem;
        margin-left: 2rem;
        margin-right: 2rem;
        padding-bottom: 1rem;
    }
    .quote h3{
        font-size: 1.5rem;
        letter-spacing: .2rem;
        font-weight: 700;
        

    }
}

@media (min-width: 389px){
    .hero-other{
        height: 15vh;
    }
    h1 {
        font-size: 3.5rem;
    }
}

@media (min-width: 400px){
  
    .overlay-content{
font-size: 3.5rem;
    }
    h2{
        font-size: 3.5rem;
    }
    h3{font-size: 2rem;}
 .hero-banner{
       height: 80vh;
    }
 .hero-other {
     height: 15vh;
 }
    .footer-contact {
        font-size: 1.3rem;
    }
    footer{
        font-size: 1.3rem;
    }
}

@media(min-width: 539px){
    .hero-other{
        height: 20vh;
    }
}



@media (min-width: 768px) {

    .hero-banner{
        height: 55vh;
    }
    .hero-other{
        height: 20vh;
    }
    .hero-other h1{
        font-size: 5rem;
    }
    .wrap {
        margin: auto;
        text-align: center;
        max-width: 100%;
    }

   
    .overlay{
        top: 10%;
    }
 

    .quote{
        margin-left: 32%;
        margin-right: 32%;
    }
    .contact-content > .quote{
       margin-left: 1rem;
       margin-right: 1rem;
    }
    .row-
    wrap h2 {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    footer{
        background-color: var(--ps-primary-color);
        color: var(--ps-text-color-light);
    }
    .footer-contact{
     width: 33.3%;
 
    }
    .footer-contact p{
        font-size: 1.2rem;
    }
    footer .row {
        justify-content: center;
        font-size: 1.2rem;
        text-align: center;
    }

    .footer-contact {
     
        font-size: 1.2rem;
     
    
    }

    .footer-contact i {
    
        font-size: 3rem;
    }
    




    .col-photo {
   
      padding-right: 1rem;
      padding-left: 1rem;
    }

}

@media screen and (orientation:landscape) and (min-width: 739px) {

    .hero-banner {
        height: 100vh;
    }

    .hero-other {
        height: 40vh;
    }

    .overlay-content {
        font-size: 2rem;
    }

        .overlay-content > h1 {
            padding-bottom: 0;
        }
.nav-item{
    margin-right: 1rem;
}
    .nav-link{
        font-size: 1.5rem;
        font-family: var(--ps-font-family-hero);
        letter-spacing: .1rem;
     
    }
    .nav-link:hover{
        color: var(--ps-primary-shadow-color);
    }

    .wrap {
        width: 100%;
    }

    p {
        max-width: 600px;
    }

    h1 p {
        font-size: 1rem;
    }
    .contact-us {
        max-width: 100%;
        padding-left: 20%;
        padding-right: 20%;
    }

    .contact-form {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media screen and (orientation: landscape) and (min-width: 992px){
    h1{
        font-size: 6rem;
    }
    h1 p {
        font-size: 5rem;
    }
    
    .hero-banner{
        height: 85vh;

    }
    .hero-other{
        height: 40vh;
    }

    .overlay-content{
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .overlay-content p{ 
        font-size: 3.5rem;
        padding: 0;
    }
    .overlay-content a{
        display: flex;
        position: absolute;
        top: 100%;
        left: 45%;
        margin-bottom: 1rem;
        
    }

    .wrap {
        margin: auto;
        text-align: center;
        max-width: 100%;
   
    }
        .row-wrap h2 {
            padding-left: 5rem;
            padding-right: 5rem;
        }

    .navbar-brand img {
        width: 75%;
        height: 75%;
    }
       /* .row-wrap p {
            padding-left: 5em;
            padding-right: 5rem;
        }*/

        .col-photo{
            padding-right: 3rem;
            padding-bottom: 2rem;
            padding-top: 1rem;
        }

/*    .contact-us{
        max-width: 100%;
        padding-left: 20%;
        padding-right: 20%;
    }
    .contact-form{
        margin-left: 3rem;
        margin-right: 3rem;
    }*/
        footer{
            display: block;
        }

/*    footer .row {
        justify-content: center;
        font-size: 1.2rem;
        text-align: center;
    }*/
   

}

/*@media screen and (orientation:landscape) and (min-width: 739px) {
    .hero-banner {
        height: 100vh;
    }

    .hero-other {
        height: 40vh;
    }

    .overlay-content {
        font-size: 2rem;
    }

        .overlay-content > h1 {
            padding-bottom: 0;
        }

    .wrap {
        width: 100%;
    }

    p {
        max-width: 600px;
    }

    h1 p {
        font-size: 1rem;
    }
}*/

@media screen and (orientation: landscape) and (min-width: 1200px){
    body{
        font-size: 1.7rem;
    }
    p{
        max-width: 1000px;
        padding-left: 2rem;
        padding-right: 3rem;
        font-size: 1.5rem;
    }
    h1{
        font-size: 8.2rem;
    }
  #resources p{
  min-width: 1200px;
      margin-right: 1rem;
  }
        .overlay-content p {
            font-size: 5.5rem;
        }
        .overlay-content > h1{
            font-size: 8.2rem;
        }
    h2{
        font-size: 6rem;
    }
    .quote h3{
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    .hero-banner{
        height: 90vh;
    }
    .hero-other{
        height: 40vh
    }
    .overlay{
        top: 15%;
        
    }
    .nav-link{
        font-size: 2rem;
    }
    .btn{
        font-size: 1.3rem;
    }
    main p {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    footer .row{
        font-size: 1.5rem;
    }

   
    .navbar-brand img{
        width: 100%;
        height: 100%;
    }

    .quote{
      
        margin-left: 35%;
        margin-right: 35%;
        padding-top: 2rem;
      padding-bottom: 2rem;
    }
    .footer-contact{
        font-size: 1.5rem;
        text-align: center;
    }
    .footer-phone{
        padding-bottom: 2rem;
        padding-top:.5rem;
    }
    footer p{
        padding-left: 3rem;
        width: 100%;
    }
}