@{
    ViewData["Title"] = "Landscape Design";
}
@section Header{
    <div class="hero-banner hero-other">
        <div class="hero-image"></div>
        <div class="container overlay">
            <div class="overlay-content">
                <h1 id="design-h1">Landscape Design</h1>
            </div>
        </div>
    </div>
    <div class="port-card">
        <div class="card" style="width: 18rem;">
            <img src="https://img.freepik.com/premium-photo/flowerbed-with-yellow-red-flowers-landscape-design-colorful-flowers_116317-6183.jpg?w=2000" alt="Landscape Photo" class="img-fluid col-photo" />
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit..</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://img.freepik.com/premium-photo/flowerbed-with-yellow-red-flowers-landscape-design-colorful-flowers_116317-6183.jpg?w=2000" alt="Landscape Photo" class="img-fluid col-photo" />
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit..</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://img.freepik.com/premium-photo/flowerbed-with-yellow-red-flowers-landscape-design-colorful-flowers_116317-6183.jpg?w=2000" alt="Landscape Photo" class="img-fluid col-photo" />
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit..</p>
            </div>
        </div>
    </div>
    <div class="port-card">
        <div class="card" style="width: 18rem;">
            <img src="https://img.freepik.com/premium-photo/flowerbed-with-yellow-red-flowers-landscape-design-colorful-flowers_116317-6183.jpg?w=2000" alt="Landscape Photo" class="img-fluid col-photo" />
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit..</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://img.freepik.com/premium-photo/flowerbed-with-yellow-red-flowers-landscape-design-colorful-flowers_116317-6183.jpg?w=2000" alt="Landscape Photo" class="img-fluid col-photo" />
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit..</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://img.freepik.com/premium-photo/flowerbed-with-yellow-red-flowers-landscape-design-colorful-flowers_116317-6183.jpg?w=2000" alt="Landscape Photo" class="img-fluid col-photo" />
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit..</p>
            </div>
        </div>
    </div>
}
