@{
    ViewData["Title"] = "Our Services";
}
@section Header{
    <div class="hero-banner hero-other">
        <div class="hero-image"></div>
        <div class="container overlay">
            <div class="overlay-content">
                <h1> Services</h1>
            </div>
        </div>
    </div>
}


<section id="about-us">
    <div class="wrap ">
        <h2>LawnCare</h2>
        <div class="row row-wrap">
            <div class="col-12 col-md-8">
                <p>At GreenScapes Landscaping, we specialize in creating breathtaking outdoor environments that enhance the beauty and functionality of your property. With our expert team of landscape architects and skilled craftsmen, we bring your vision to life, turning ordinary spaces into extraordinary landscapes.</p>
                <a class="btn" asp-area="" asp-controller="About" asp-action="Index">About Us</a>
            </div>
            <div class="col-12 col-md-4 order-last">
                <img src="https://img.freepik.com/premium-photo/flowerbed-with-yellow-red-flowers-landscape-design-colorful-flowers_116317-6183.jpg?w=2000" alt="Landscape Photo" class="img-fluid col-photo" />
            </div>
        </div>
    </div>
    <div class="wrap wrap-color">
        <h2>Landscape Maintenence</h2>
        <div class="row row-wrap">
            <div class="col-12 col-md-4 order-last order-md-first">
                <img src="https://img.freepik.com/premium-photo/flowerbed-with-yellow-red-flowers-landscape-design-colorful-flowers_116317-6183.jpg?w=2000" alt="Landscape Photo" class="img-fluid col-photo" />
            </div>
            <div class="col-12 col-md-8 order-first order-md-last">
                <p><strong>Landscape Design:</strong> Our experienced designers work closely with you to understand your preferences and create a custom landscape design that reflects your style and enhances your property's features. We integrate elements such as plants, hardscapes, water features, and lighting to achieve a harmonious and inviting outdoor space.</p>
                <p><strong>Installation and Construction:</strong> Our skilled team handles the installation and construction process, bringing the design to reality. From planting trees and shrubs to building patios and retaining walls, we ensure every detail is executed with precision and quality.</p>
                <a class="btn" asp-area="" asp-controller="Services" asp-action="Index">Our Services</a>
            </div>
        </div>
    </div>
    <div class="wrap ">
        <h2>Design and Installation</h2>
        <div class="row row-wrap">
            <div class="col-12 col-md-8 order-first">
                <p>At GreenScapes Landscaping, we specialize in creating breathtaking outdoor environments that enhance the beauty and functionality of your property. With our expert team of landscape architects and skilled craftsmen, we bring your vision to life, turning ordinary spaces into extraordinary landscapes.</p>
                <a class="btn" asp-area="" asp-controller="Portfolio" asp-action="Index">Our Portfolio</a>
            </div>
            <div class="col-12 col-md-4 order-last">
                <img src="https://img.freepik.com/premium-photo/flowerbed-with-yellow-red-flowers-landscape-design-colorful-flowers_116317-6183.jpg?w=2000" alt="Landscape Photo" class="img-fluid col-photo" />
            </div>
        </div>
    </div>
    <div class="wrap wrap-color">
        <h2>Random Service</h2>
        <div class="row row-wrap">
            <div class="col-12 col-md-4 order-last order-md-first">
                <img src="https://img.freepik.com/premium-photo/flowerbed-with-yellow-red-flowers-landscape-design-colorful-flowers_116317-6183.jpg?w=2000" alt="Landscape Photo" class="img-fluid col-photo" />
            </div>
            <div class="col-12 col-md-8 order-first order-md-last">
                <p><strong>Landscape Design:</strong> Our experienced designers work closely with you to understand your preferences and create a custom landscape design that reflects your style and enhances your property's features. We integrate elements such as plants, hardscapes, water features, and lighting to achieve a harmonious and inviting outdoor space.</p>
                <p><strong>Installation and Construction:</strong> Our skilled team handles the installation and construction process, bringing the design to reality. From planting trees and shrubs to building patios and retaining walls, we ensure every detail is executed with precision and quality.</p>
                <a class="btn" asp-area="" asp-controller="Resources" asp-action="Index">Resources</a>
            </div>
        </div>
    </div>
    <div id="services-wrap" class="wrap">
        <div id="qoute" class="about-content quote">
            <h3 class="pb-4">Don't Hesitate!</h3>

            <button class="btn" type="button">Get A Quote</button>
        </div>
    </div>
</section>
