@{
    ViewData["Title"] = "Our Services";
}
@section Header{
    <div class="hero-banner hero-other">
        <div class="hero-image"></div>

        <div class="container overlay">
            <div class="overlay-content">

                <h1> Services</h1>
           

            </div>
        </div>
    </div>
}


    <section id="about-us">

        <div class="wrap">
            <div class="about-content">
                <h2>Lawncare</h2>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est fugiat
                    expedita ex recusandae fuga! Blanditiis maiores culpa voluptatum dignissimos
                    eveniet iure officia, deserunt accusamus maxime minus impedit illo quo!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est fugiat
                    expedita ex recusandae fuga! Blanditiis maiores culpa voluptatum dignissimos
                    eveniet iure officia, deserunt accusamus maxime minus impedit illo quo!
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est fugiat
                    expedita ex recusandae fuga! Blanditiis maiores culpa voluptatum dignissimos
                    eveniet iure officia, deserunt accusamus maxime minus impedit illo quo!
                </p>
            </div>
        </div>


        <div class="wrap wrap-color">
            <div class="about-content-color">
                <img src="https://img.freepik.com/premium-photo/flowerbed-with-yellow-red-flowers-landscape-design-colorful-flowers_116317-6183.jpg?w=2000" alt="Landscape Photo" class="img-fluid">
                <h2>Landscape Maintenence</h2>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est fugiat
                    expedita ex recusandae fuga! Blanditiis maiores culpa voluptatum dignissimos
                    eveniet iure officia, deserunt accusamus maxime minus impedit illo quo!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est fugiat
                    expedita ex recusandae fuga! Blanditiis maiores culpa voluptatum dignissimos
                    eveniet iure officia, deserunt accusamus maxime minus impedit illo quo!
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est fugiat
                    expedita ex recusandae fuga! Blanditiis maiores culpa voluptatum dignissimos
                    eveniet iure officia, deserunt accusamus maxime minus impedit illo quo!
                </p>
            </div>
        </div>


        <div class="wrap">
            <div class="about-content">
                <h2>Design and Installation</h2>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est fugiat
                    expedita ex recusandae fuga! Blanditiis maiores culpa voluptatum dignissimos
                    eveniet iure officia, deserunt accusamus maxime minus impedit illo quo!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est fugiat
                    expedita ex recusandae fuga! Blanditiis maiores culpa voluptatum dignissimos
                    eveniet iure officia, deserunt accusamus maxime minus impedit illo quo!
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est fugiat
                    expedita ex recusandae fuga! Blanditiis maiores culpa voluptatum dignissimos
                    eveniet iure officia, deserunt accusamus maxime minus impedit illo quo!
                </p>
            </div>
        </div>

        <div class="wrap wrap-color">
            <div class="about-content-color">
                <img src="https://img.freepik.com/premium-photo/flowerbed-with-yellow-red-flowers-landscape-design-colorful-flowers_116317-6183.jpg?w=2000" alt="Landscape Photo" class="img-fluid">
                <h2>Random Service</h2>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est fugiat
                    expedita ex recusandae fuga! Blanditiis maiores culpa voluptatum dignissimos
                    eveniet iure officia, deserunt accusamus maxime minus impedit illo quo!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est fugiat
                    expedita ex recusandae fuga! Blanditiis maiores culpa voluptatum dignissimos
                    eveniet iure officia, deserunt accusamus maxime minus impedit illo quo!
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est fugiat
                    expedita ex recusandae fuga! Blanditiis maiores culpa voluptatum dignissimos
                    eveniet iure officia, deserunt accusamus maxime minus impedit illo quo!
                </p>
                
            </div>
        </div>


        <div class="wrap">
            <div class="about-content quote">
                <h3>Interested In A Service?</h3>
                <p class="text-center">Don't Hesitate!</p>
                <button class="btn" type="button">Get A Quote</button>
            </div>
        </div>
    </section>
