@{
    ViewData["Title"] = "Our Portfolio";
}
@section Header{
    <div class="hero-banner hero-other">
        <div class="hero-image"></div>

        <div class="container overlay">
            <div class="overlay-content">

                <h1>Portfolio</h1>
           

            </div>
        </div>
    </div>
}
